.actorCard {
  padding: 10px;
  display: flex;
  border: 1px solid #000;
  /* width: 330px; */
}

.info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 10px;
}

.picture {
  width: 100px;
}
